@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');

body {
  background: #000;
  height: 100vh;
}
#navbar {
    background: #000;
    color: #fff;
}
#navLogo {
    width: 80px;
    object-fit: cover;
}
.toggleIcon {
    color: #fff;
    margin-top: -15px;
    font-size: 35px;
}
.btnGroup {
    display: flex;
}
#loginBtn {
    background: #fff;
    color: #121111;
    width: 90px;
    font-family: 'Archivo Black', sans-serif;
    padding: 10px 10px;
    transition: 0.5s;
    text-align: center;
}
#loginBtn:hover {
    background: #000;
    color: #fff;
}
#registerBtn {
    background: red;
    width: 110px;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
}
#registerBtn:hover {
    background: #fff;
    color: red;
    
}


@media screen and (max-width: 768px) {
    #navLogo {
        width: 60px;
    }
    .btnGroup {
      display: inline-flex;
    }
}
